*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

body { 
  background: url("static/background-2.jpg") repeat 0 0;
  background: url("../static/background-5.jpg") repeat 0 0; /*this*/
  background-image: url("../static/background-2.jpg") repeat 0 0;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

.title {
  display:inline;

  background-color: var(--darkreader-background-111111, #0d0e0e);
  color: var(--darkreader-text-ffffff, #ffffff);

  padding: 18px;
  font-size: 25px;
  letter-spacing: 8px;
}

.logo {
  display:inline;
  height: 52px;
  width: 52px;
}

.content {
  margin: 50px 0px 0px 0px;
}

.map-viewer {
  margin: auto;
  border-style: solid;
  height: 75vh;
  width: 100vh;
}

.menu {
  margin: 25px auto -20px 80px;
}

.menu_button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: -10px; */

  background-color: var(--darkreader-background-111111, #0d0e0e);
  color: var(--darkreader-text-ffffff, #e8e6e3c7);

  padding: 12px;
  font-size: 15px;
  letter-spacing: 4px;

  height: 42px;

  cursor: pointer;
}

.text_body {
  background-color: var(--darkreader-background-111111, #0d0e0e);
  color: var(--darkreader-text-ffffff, #e8e6e3c7);

  padding: 18px;
  font-size: 25px;
  letter-spacing: 2px;

  margin: auto;
}